.indexnav {
  color: #d1d1d1 !important;
  text-decoration: none !important;
}

.indexnav:active {
  color: white !important;
  text-decoration: none !important;
}

.indexnav-icon {
  color: white !important;
}
