<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand main-nav" href="/index"><i class="fa fa-space-shuttle fa-lg nav-icon" aria-hidden="true"></i><span class="main-brand">Griffin Davis</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link main-nav" href="/index">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link main-nav" href="https://gd2.co/portfolio">Work</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link main-nav dropdown-toggle {% if page.id == "/gd2co" or page.id == "/gd2app" %} active {% endif %}" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item {% if page.id == "/gd2co" %} active {% endif %}" href="/gd2co">gd2.co</a>
          <a class="dropdown-item {% if page.id == "/gd2app" %} active {% endif %}" href="/gd2app">gd2.app</a>
          <a class="dropdown-item" href="https://github.com/griffindvs/lasa2019">lasa2019.com</a>
          <a class="dropdown-item" href="https://github.com/griffindvs/lasa2019.design">lasa2019.design</a>
          <a class="dropdown-item" href="https://github.com/griffindvs/headway">headwaytutors.org</a>
          <a class="dropdown-item" href="https://github.com/griffindvs/lasa-complexmath">C++ Complex Math Library</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link main-nav" href="mailto:contact@griffindvs.com">Contact</a>
      </li>
    </ul>
  </div>
</nav>
